*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: azure;
    height: 64px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    position: relative;
    z-index: 2;
    

}
a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
a:hover{
    background-color: rgb(197, 253, 234);
    border-radius: 10px;
    height: 30px;
    width: max-content;
    border-bottom: 2px solid ;
}
.section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin-top: -10vh;
    text-align: center;
    margin-left: 200px;
    gap: 30px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}
.call {
    background-color: rgb(49, 54, 119);
    color: white;
    height: 30px;
    width: 150px;
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 15px;
    font-size: 20px;
    
}
img {
    height: 18vh;
    width: 18vh;
    
}
.p {
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3vh;
}

.bg_image{
    background-image: url("hero-cleaning.png");
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vhs;
}
.main {
    margin-left: 20vh;
    margin-top: 10vh;
    position: relative;
    z-index: 2;
}
.overlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 109.5vh;

    background: linear-gradient(
        to right,
        rgba(255,255,255,0.9),
        rgba(255,255,255,0.7),
        rgba(0,0,0,0.4)
    );
    z-index: 1;
}

.serving{
    margin-top: 20vh;
    border: 2px solid rgb(167, 163, 163);
    border-radius: 20px;
    text-align: center;
    background-color:white;
    width: 30vh;
}
.fh{
    font-size: 10vh;
}
.sh{
    font-size: 11vh;
    
}
.th{
    font-size: 10vh;

}
.second_content{
    color: rgb(88, 88, 87);
}
.both_button{
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
}
.request{
    height: 5vh;
    width: 18vh;
    border-radius: 10px;
    background-color: rgb(49, 54, 119);
    color: white;
}
.view_services{
    height: 5vh;
    width: 18vh;
    border-radius: 10px;
}
.sec_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25vh;
    width: 100%;
    background-color: white;
    gap: 30vh;
    border: 2px solid rgb(196, 196, 196);
}
.number{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    color:rgb(49, 54, 119);
    position: relative;
    z-index: 2;
    align-items: center;
    text-align: center;
    font-size: 3vh;
}
.text {
    text-align: center;
    font-size: 3vh;
}
.do {
    position: relative;
    z-index: 2;
    margin-top: 8vh;
    margin-left: 20vh;
    background-color:white;
}
.what{
    font-size: small;
    color: rgb(49, 54, 119);
    height: 4vh;
}
.partner {
    font-size: 6vh;
}
.form{
    height: 2vh;
    font-size: 3vh;
    color: rgb(119, 119, 112);
}
.service_div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4vh;
    margin-left: 18vh;
    margin-right: 15vh;
    margin-top: 10vh;
}
.cleaning{
    max-width: 1200px;
    height: 25vh;
    width: 50vh;
    border: 2px solid rgb(153, 153, 158);
    border-radius: 10px;
    margin-left: 4vh;
}
.cleaning:hover{
    border: 3px solid rgb(49, 54, 119);
}
.fa-wand-magic-sparkles{
    font-size: 3vh;
    margin-top: 3vh;
    margin-left: 3vh;
}
.fa-droplet{
    font-size: 3vh;
    margin-top: 3vh;
    margin-left: 3vh;
}
.fa-trash-can{
    margin-top: 3vh;
    margin-left: 3vh;
    font-size: 3vh;
}
.fa-shoe-prints{
    margin-top: 3vh;
    margin-left: 3vh;
    font-size: 3vh;
}
.fa-user-group{
    margin-top: 3vh;
    margin-left: 3vh;
    font-size: 3vh;
}
.fa-bug{
    margin-top: 3vh;
    margin-left: 3vh;
    font-size: 3vh;
}
.font-heading{
    font-size: 3.5vh;
    height: 7vh;
}
.font-heading2{
    font-size: 2.5vh;
    color: rgb(159, 159, 165);
    height: 5vh;
}
.font{
    margin-left: 3vh;
}
.all{
    font-size: 3vh;
    margin-left: 20vh;
    margin-top: 8vh;

}
.company{
    margin-top: 8vh;
    margin-left: 20vh;
    background-color:white;
}
.marquee{
    overflow: hidden;
    white-space: nowrap;
}

.marquee all-logo{
    display: inline-block;
    animation: move 10s linear infinite;
}

@keyframes move{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}